body {
  background-color: #c8a2c8;
}

h1 {
  text-align: center;
}

.container {
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  height: 200px;
  width: 200px;
  border: solid 1px pink;
  /* align-items: center; */
}
.square {
  height: 50px;
  width: 50px;
  background-color: blueviolet;
}
.square2{
  background-color: pink;
}
